*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    position: relative;
}
canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#menu {
    width: 300px;
    height: 200px;
    border: rgb(255, 255, 255) 1px solid;
    border-radius: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}
.background {
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    background-color: rgba(255, 255, 255, 0.85);
    filter: blur(2px);
}
.content {
    width: 100%;
    height: 100%;
    padding: 1rem;
    position: absolute;
    top:0;
    left:0;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#title {
    color: black;
    margin-bottom: 2rem;
}
#nameInput {
    width: 100%;
    height: 30px;
    border: gray 1px solid;
    border-radius: 16px;
    text-indent: 10px;
}
#nameInput::placeholder {
    text-indent: 10px;
}
#errorText {
    height: 24px;
    color: rgb(231, 15, 15);
}
#joinBtn {
    width: 100%;
    height: 30px;
    border-radius: 16px;
}
.hide {
    display: none
}

.announceContainer {
    height: fit-content;
    width: fit-content;
    padding: 20px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 5px;
}
.announce {
    width: fit-content;
    height: 50px;
    padding-inline: 20px;
    background-color: rgb(37, 37, 37);
    border: 2px solid darkturquoise;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    z-index: 99;
    font-weight: 900;
    font-size: 25px;
    text-shadow: black 1px 1px 3px;
}
.gunIcon {
    width: 20px;
    fill: white;
}